body {
  margin: 20px auto;
  width: 75%;
}


nav ul {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px
  list-style: none;
  font-weight: bold;
}


nav ul li {
  display: inline;
  margin-right: 10px;
}


a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}


a:hover {
  text-decoration: underline;
  color: #0000FF
}

  
img {
  float:left; padding: 10px 10px;
}

h1 {
  font-size: 2em;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-decoration: undlerline;
  font-weight: bold;
}